<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ContactData ANY>
<!ATTLIST ContactData id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1061" key="43ad4a37-2724-4687-ad7a-9c1457038686" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-29T13:32:40" updateDate="2016-01-29T14:00:20" nodeName="Home Page" urlName="home-page" path="-1,1061" isDoc="" nodeType="1058" creatorName="Caroline Kuo" writerName="Caroline Kuo" writerID="0" template="1060" nodeTypeAlias="Home">
    <pageName><![CDATA[Top Page]]></pageName>
    <siteName><![CDATA[Anthology Group Interview ]]></siteName>
    <pageImage><![CDATA[/media/1001/ddss.jpg]]></pageImage>
    <bodyText><![CDATA[<p>This is Anthology Group Interview Question</p>]]></bodyText>
    <Contact id="1066" key="4e181b94-a94c-418c-96e0-3da554fec70a" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2016-01-29T14:31:54" updateDate="2016-01-29T14:33:02" nodeName="Contact Anthology Group" urlName="contact-anthology-group" path="-1,1061,1066" isDoc="" nodeType="1063" creatorName="Caroline Kuo" writerName="Caroline Kuo" writerID="0" template="1062" nodeTypeAlias="Contact">
      <pageName><![CDATA[Send us your email and we will contact you!]]></pageName>
      <siteName><![CDATA[Contact us]]></siteName>
    </Contact>
  </Home>
</root>